{% extends "base.html" %}
{% load static %}

{% if messages %}
  <div class="container mt-2">
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% block content %}
<div class="container mt-2">
    <h1 class="text-center mb-4">
      <span class="d-inline-block bg-light px-2 py-2 border rounded-4 shadow">
        📅 Календар завдань на {{ current_date|date:"F Y" }}
      </span>
    </h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="{% url 'noteapp:calendar' year=prev_year month=prev_month %}"
           class="btn btn-calendar-hover">
            ← Попередній місяць
        </a>

        <a href="{% url 'noteapp:calendar' year=next_year month=next_month %}"
           class="btn btn-calendar-hover">
           Наступний місяць →
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered text-center align-middle shadow-sm">
            <thead class="table-light">
                <tr>
                    <th>Пн</th>
                    <th>Вт</th>
                    <th>Ср</th>
                    <th>Чт</th>
                    <th>Пт</th>
                    <th class="text-primary">Сб</th>
                    <th class="text-danger">Нд</th>
                </tr>
            </thead>
            <tbody>
                {% for week in calendar_weeks %}
                    <tr>
                        {% for day in week %}
                            {% if day %}
                                <td class="calendar-day {% if day == today %}bg-primary text-white fw-bold{% endif %}">
                                  <a href="{% url 'noteapp:create_day_tasks' date=day.isoformat %}" class="text-decoration-none d-block py-2">
                                    {{ day.day }}
                                  </a>
                                </td>
                            {% else %}
                                <td class="bg-light"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
