{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-sm border-danger">
    <div class="card-body text-center">
      <h3 class="card-title text-danger">{% trans '❗ Delete confirmation' %}</h3>
      <p class="card-text my-3">
        {% trans 'Are you sure you want to' %} <strong>{% trans 'delete task' %}</strong>:
        <br>
        <em>"{{ object.description|default:'({% trans 'no description' %})' }}"</em>?
      </p>

      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="page" value="{{ request.GET.page }}">
        <input type="hidden" name="return_url" value="{{ return_url }}">

        <div class="d-flex flex-column flex-md-row justify-content-center gap-2 mt-4">
          <button type="submit" class="btn btn-danger text-nowrap">{% trans '🗑️ Yes, delete' %}</button>
          <a href="{{ return_url|default:'#' }}" class="btn btn-outline-secondary text-nowrap">
            {% trans '⬅ Cancel' %}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
