{% extends "base.html" %}
{% load static i18n %}
{% load menu %}


{% block content %}
<!-- Радіальне меню по центру тільки на мобільних -->
<div class="md:hidden absolute inset-0 z-20 flex items-center justify-center pointer-events-none">
  <div
    x-data="{ open: true }"
    x-init="$refs.ring.style.setProperty('--count', $refs.ring.querySelectorAll('li[data-item]').length)"
    class="relative flex items-center justify-center -translate-y-10 pointer-events-auto"
  >
    <!-- Центральний тригер -->
      <button
        @click="open = !open"
        :aria-expanded="open"
        class="relative inline-flex items-center justify-center w-28 h-28 rounded-full
               transition-transform duration-200 hover:scale-105 active:scale-95 focus:outline-none
               pointer-events-auto animate-scale-pulse"
        aria-label="Відкрити меню"
      >
        <!-- Іконка меню -->
        <img
          x-show="!open"
          x-transition:enter="transition ease-out duration-200"
          x-transition:enter-start="opacity-0 scale-75"
          x-transition:enter-end="opacity-100 scale-100"
          x-transition:leave="transition ease-in duration-150"
          x-transition:leave-start="opacity-100 scale-100"
          x-transition:leave-end="opacity-0 scale-75"
          src="{% static 'images/menu_icon2.png' %}"
          alt="{% trans 'Menu' %}"
          class="absolute w-28 h-28 rounded-full"
        />

        <!-- Хрестик -->
        <img
          x-show="open"
          x-transition:enter="transition ease-out duration-200"
          x-transition:enter-start="opacity-0 scale-75"
          x-transition:enter-end="opacity-100 scale-100"
          x-transition:leave="transition ease-in duration-150"
          x-transition:leave-start="opacity-100 scale-100"
          x-transition:leave-end="opacity-0 scale-75"
          src="{% static 'images/close_icon.png' %}"
          alt="{% trans 'Menu' %}"
          class="absolute w-24 h-24 rounded-full"
        />
      </button>

    <!-- Кільце пунктів -->
      <ul x-ref="ring" :class="{ 'open': open }" class="radial-ring pointer-events-none">
        {% main_menu as MAIN_MENU %}
        {% for item in MAIN_MENU %}
          <li data-item style="--i:{{ forloop.counter0 }}">
            <a href="{{ item.href }}" class="radial-item pointer-events-auto" aria-label="{{ item.label }}">
              <img src="{% static item.icon_img %}" alt="{{ item.label }}" class="w-18 h-18 rounded-full">
              <span class="radial-label">{{ item.label }}</span>
            </a>
          </li>
        {% endfor %}

        {% with base=MAIN_MENU|length %}
        {% header_menu as HEADER_MENU %}
        {% for it in HEADER_MENU %}
          <li data-item style="--i:{{ forloop.counter0|add:base }}"> {# змісти індекс якщо треба #}
            {% if it.type == 'action' and it.action == 'open_search' %}
              <button type="button"
                      @click.stop="searchOpen = true; open = false"
                      class="radial-item pointer-events-auto" aria-label="{{ it.label }}">
                <img src="{% static it.icon_img %}" alt="{{ it.label }}" class="w-18 h-18 rounded-full">
                <span class="radial-label">{{ it.label }}</span>
              </button>

            {% elif it.type == 'link' %}
              <a href="{{ it.href }}" class="radial-item pointer-events-auto" aria-label="{{ it.label }}">
                <img src="{% static it.icon_img %}" alt="{{ it.label }}" class="w-18 h-18 rounded-full">
                <span class="radial-label">{{ it.label }}</span>
              </a>

            {% elif it.type == 'post' %}
              <form method="post" action="{{ it.url }}" class="pointer-events-auto">
                {% csrf_token %}
                <button type="submit" class="radial-item" aria-label="{{ it.label }}">
                  <img src="{% static it.icon_img %}" alt="{{ it.label }}" class="w-18 h-18 rounded-full">
                  <span class="radial-label">{{ it.label }}</span>
                </button>
              </form>
            {% endif %}
          </li>
        {% endfor %}
        {% endwith %}


      </ul>
  </div>
</div>


{% endblock %}
