{% load static %}
{% load menu %}

<div class="flex flex-col items-center space-y-4 text-gray-600 text-sm md:text-base">
    {% main_menu as MAIN_MENU %}
    {% for it in MAIN_MENU %}
      <a href="{{ it.href }}"
         class="flex flex-col items-center group {% if active_page == it.key %}text-blue-600{% else %}hover:text-blue-600{% endif %}">
        <span class="text-2xl">{{ it.icon_emoji }}</span>
        <span class="group-hover:underline">{{ it.label }}</span>
      </a>
    {% endfor %}

</div>
