<div class="flex flex-col space-y-2">
  {% if user.is_authenticated %}
    <a href="{% url 'noteapp:task_by_period' %}"
       class="{% if active_page == 'task' %}font-medium text-blue-600{% else %}text-gray-700 hover:text-blue-600{% endif %}">
       📋 Завдання
    </a>
    {% if year and month %}
    <a href="{% url 'noteapp:calendar' year=year month=month %}"
    class="{% if active_page == 'calendar' %}font-medium text-blue-600{% else %}text-gray-700 hover:text-blue-600{% endif %}">
      📆 Календар
    </a>
    {% else %}
      <a href="{% url 'noteapp:calendar_current' %}"
      class="{% if active_page == 'calendar' %}font-medium text-blue-600{% else %}text-gray-700 hover:text-blue-600{% endif %}">
        📆 Календар
      </a>
    {% endif %}

  <a href="#" class="hover:text-blue-600">⏰ Нагадування</a>
    <a href="#" class="hover:text-blue-600">⚙️ Налаштування</a>
  {% endif %}
  <a href="#" class="hover:text-blue-600">🌦️ Погода</a>
  <a href="#" class="hover:text-blue-600">💱 Курси валют</a>
  <a href="#" class="hover:text-blue-600">📻 Радіо</a>
</div>