{% load menu i18n %}
  <div class="border border-gray-300 rounded-lg p-4 w-full max-w-xs bg-white shadow-sm space-y-4">
    <h2 class="text-center">
      <span class="d-inline-block bg-light border rounded-2 py-1">
        {% trans "Settings" %}
      </span>
    </h2>

    {% settings_submenu as SET_SUB %}
    {% for it in SET_SUB %}
      <a href="{{ it.href }}"
         class="flex flex-col items-center group {% if active_page == it.key %}text-blue-600{% else %}hover:text-blue-600{% endif %}">
        <span class="text-2xl">{{ it.icon_emoji }}</span>
        <span class="group-hover:underline text-center">{{ it.label }}</span>
      </a>
    {% endfor %}
  </div>
