{# templates/chat/groups_list.html #}
{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="relative overflow-hidden mt-4 rounded-2xl bg-gradient-to-br from-white/50 to-slate-50/25 backdrop-blur shadow-xl ring-1 ring-slate-900/10 text-center">
<div class="container py-3 text-center">
  <div class="d-flex justify-content-center align-items-center mb-3 gap-8">
    <h4 class="mb-0 glow-title">{% trans "My groups" %}</h4>
    <a href="{% url 'chat:group_create' %}" class="btn btn-primary">{% trans "Create group" %}</a>
  </div>

  <ul class="list-group w-50 mx-auto">
    {% for t in threads %}
      <li class="list-group-item d-flex justify-content-center align-items-center">
        <a href="{% url 'chat:group_thread' t.id %}">{{ t.title|default:_("Group") }}</a>
<!--        <small class="text-muted">#{{ t.id }}</small>-->
      </li>
    {% empty %}
      <li class="list-group-item text-muted">{% trans "No groups yet" %}</li>
    {% endfor %}
  </ul>
</div>
    <a href="{% url 'chat:home' %}" class="button_weather inline-block mt-1">
        ⬅ {% trans 'Back' %}
    </a>
</div>
{% endblock %}
